# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 변경해야 할 값들
# LiveKit Server Connection
# 테라폼 활용; 공유서버
LIVEKIT_URL=https://livekit.sodam.store
LIVEKIT_PUBLIC_URL=wss://livekit.sodam.store
REDIS_URL=<redis://redis:6379>
DATABASE_URL=<postgres://damso:de21a66b81fde0b7d5d3565bbfcb5b84@db:5432/damso>

# prod에서 변경
API_AUTH_REQUIRED=false
CORS_ORIGIN=*
# <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 변경해야 할 값들

PORT=8080
LIVEKIT_API_KEY=LK_154f88960804a7ec
LIVEKIT_API_SECRET=1d4b32dac495e14fced680129935a9eb8300e9a73841b08b0edae746a0c123b2
LIVEKIT_TOKEN_TTL=600
API_JWT_SECRET=fa9e0d25aa14ff18fb5323fc821c532ab02437d039b15847256b0c481aa0dfa9
API_JWT_TTL=86400
APNS_KEY_PATH=/secrets/AuthKey_X6V2QBWP93.p8
APNS_KEY_ID=X6V2QBWP93
APNS_TEAM_ID=4Y5BW58548
APNS_BUNDLE_ID=com.ilim.damso
APNS_VOIP_TOPIC=com.ilim.damso.voip
APNS_ENV=both
KAKAO_ADMIN_KEY=<YOU_NEED_IT>
KAKAO_CLIENT_ID=ac893137a826fee92d16cf6e0b7039ee
KAKAO_CLIENT_SECRET=<YOU_NEED_IT, 익화>
GOOGLE_CLIENT_ID=810981442237-ub7rgb46fkf31he5k383dhnb4m4tmqql.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=<YOU_NEED_IT, 익화>

# AI Service (Bedrock)
AI_PROVIDER=bedrock
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=<YOU_NEED_IT, 상연>
AWS_SECRET_ACCESS_KEY=<YOU_NEED_IT, 상연>
BEDROCK_MODEL=global.anthropic.claude-sonnet-4-5-20250929-v1:0
AI_MAX_TOKENS=2000
AI_INSTRUCTION='당신은 따뜻한 마음을 가진 노인 심리 상담가입니다. 대화의 이면을 깊이 있게 분석해주세요.'
